@font-face {
  font-family: "Odibee";
  src: url("./assets/font/OdibeeSans-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  font-family: "Odibee";
}

body .background {
  width: 50vw;
  height: 100vh;
  background-image: url("./assets/img/background-md.jpg");
  background-position-x: 35%;
  position: fixed;
  z-index: 1;
}

@media (min-width: 768px) {
  body .background {
    background-image: url("./assets/img/background.jpg");
    background-position-x: 25%;
  }
}

body .content {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content h1 {
  font-size: 4em;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  body .content h1 {
    font-size: 7em;
  }
}

@media (min-width: 992px) {
  body .content h1 {
    font-size: 8em;
  }
}

body .content h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  body .content h2 {
    font-size: 3em;
  }
}

body .content h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  body .content h3 {
    font-size: 5em;
  }
}

body .content h4 {
  font-size: 2em;
}

@media (min-width: 768px) {
  body .content h4 {
    font-size: 3em;
  }
}

.glitch {
  position: relative;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #7b7a79;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 67px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  5% {
    clip: rect(43px, 9999px, 28px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  10% {
    clip: rect(81px, 9999px, 24px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  15% {
    clip: rect(92px, 9999px, 24px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  20% {
    clip: rect(55px, 9999px, 38px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  25% {
    clip: rect(7px, 9999px, 8px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  30% {
    clip: rect(43px, 9999px, 77px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  35% {
    clip: rect(51px, 9999px, 48px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  40% {
    clip: rect(27px, 9999px, 37px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  45% {
    clip: rect(45px, 9999px, 48px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  50% {
    clip: rect(38px, 9999px, 36px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  55% {
    clip: rect(56px, 9999px, 30px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  60% {
    clip: rect(77px, 9999px, 32px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  65% {
    clip: rect(5px, 9999px, 16px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  70% {
    clip: rect(23px, 9999px, 3px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  75% {
    clip: rect(64px, 9999px, 62px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(52px, 9999px, 42px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  85% {
    clip: rect(31px, 9999px, 8px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  90% {
    clip: rect(16px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  95% {
    clip: rect(40px, 9999px, 75px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(18px, 9999px, 94px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 67px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  5% {
    clip: rect(43px, 9999px, 28px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  10% {
    clip: rect(81px, 9999px, 24px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  15% {
    clip: rect(92px, 9999px, 24px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  20% {
    clip: rect(55px, 9999px, 38px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  25% {
    clip: rect(7px, 9999px, 8px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  30% {
    clip: rect(43px, 9999px, 77px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  35% {
    clip: rect(51px, 9999px, 48px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  40% {
    clip: rect(27px, 9999px, 37px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  45% {
    clip: rect(45px, 9999px, 48px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  50% {
    clip: rect(38px, 9999px, 36px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  55% {
    clip: rect(56px, 9999px, 30px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  60% {
    clip: rect(77px, 9999px, 32px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  65% {
    clip: rect(5px, 9999px, 16px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  70% {
    clip: rect(23px, 9999px, 3px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  75% {
    clip: rect(64px, 9999px, 62px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  80% {
    clip: rect(52px, 9999px, 42px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  85% {
    clip: rect(31px, 9999px, 8px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  90% {
    clip: rect(16px, 9999px, 56px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  95% {
    clip: rect(40px, 9999px, 75px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(18px, 9999px, 94px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(32px, 9999px, 62px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  5% {
    clip: rect(81px, 9999px, 72px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  10% {
    clip: rect(50px, 9999px, 26px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  15% {
    clip: rect(86px, 9999px, 11px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  20% {
    clip: rect(65px, 9999px, 90px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  25% {
    clip: rect(57px, 9999px, 69px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  30% {
    clip: rect(4px, 9999px, 25px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  35% {
    clip: rect(75px, 9999px, 82px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  40% {
    clip: rect(3px, 9999px, 92px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  45% {
    clip: rect(54px, 9999px, 49px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  50% {
    clip: rect(90px, 9999px, 80px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  55% {
    clip: rect(58px, 9999px, 89px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  60% {
    clip: rect(27px, 9999px, 96px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  65% {
    clip: rect(75px, 9999px, 96px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  70% {
    clip: rect(1px, 9999px, 80px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  75% {
    clip: rect(28px, 9999px, 80px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  80% {
    clip: rect(52px, 9999px, 70px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  85% {
    clip: rect(40px, 9999px, 54px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  90% {
    clip: rect(86px, 9999px, 3px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  95% {
    clip: rect(93px, 9999px, 16px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  100% {
    clip: rect(62px, 9999px, 41px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(32px, 9999px, 62px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  5% {
    clip: rect(81px, 9999px, 72px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  10% {
    clip: rect(50px, 9999px, 26px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  15% {
    clip: rect(86px, 9999px, 11px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  20% {
    clip: rect(65px, 9999px, 90px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  25% {
    clip: rect(57px, 9999px, 69px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  30% {
    clip: rect(4px, 9999px, 25px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  35% {
    clip: rect(75px, 9999px, 82px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  40% {
    clip: rect(3px, 9999px, 92px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  45% {
    clip: rect(54px, 9999px, 49px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  50% {
    clip: rect(90px, 9999px, 80px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  55% {
    clip: rect(58px, 9999px, 89px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  60% {
    clip: rect(27px, 9999px, 96px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
  65% {
    clip: rect(75px, 9999px, 96px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  70% {
    clip: rect(1px, 9999px, 80px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  75% {
    clip: rect(28px, 9999px, 80px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  80% {
    clip: rect(52px, 9999px, 70px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  85% {
    clip: rect(40px, 9999px, 54px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  90% {
    clip: rect(86px, 9999px, 3px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  95% {
    clip: rect(93px, 9999px, 16px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  100% {
    clip: rect(62px, 9999px, 41px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  10% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  90% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  10% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  90% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
}
/*# sourceMappingURL=style.css.map */